:root{
    --clr-primary-300:#CCD5AE;
    --clr-primary-400:#B3C186;
    --clr-primary-600:#526a40;
    --clr-primary-800:#1b300a;


    --clr-accent-100:#8c7fb9;
    --clr-accent-500:#605375;

    --clr-neutral-100:#fbfae5;
    --clr-neutral-900:#1D1A23;

    --ff-primary:"Be Vietnam Pro", sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular:400;
    --fw-xregular:500;
    --fw-semi-bold:600;
    --fw-bold:700;

    --fs-300:.8rem;
    --fs-400:1rem;
    --fs-500:1.25rem;
    --fs-600:1.75rem;
    --fs-700:2.15rem;
    --fs-750:2.25rem;
    --fs-800:2.5rem;
}
@media screen and (max-width:377px) {
   :root{
    --fs-800:2.25rem;
    --fs-750:2rem;
    --fs-700:1.5rem;
    --fs-600:1.25rem;
    --fs-500:1.15rem;
    --fs-400:0.825rem;
   } 
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
*{
  margin: 0;
  padding: 0;
  font:inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a{
    text-decoration: none;
    color: currentColor;
}
/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

li{
    list-style-type: none;
}

/* FIN ROOT+RESET FIN ROOT+RESET FIN ROOT+RESET FIN ROOT+RESET */

/* UTILITY CLASSES */

.text-primary-300{
    color: var(--clr-primary-300);
}
.text-primary-400{
    color:var(--clr-primary-400);
}
.text-primary-600{
    color:var(--clr-primary-600);
}
.text-primary-800{
    color:var(--clr-primary-800);
}
.text-neutral-100{
    color: var(--clr-neutral-100);
}
.text-neutral-900{
    color:var(--clr-neutral-900);
}
.text-accent-100{
    color:var(--clr-accent-100)
}
.text-accent-500{
    color:var(--clr-accent-500)
}

.bg-primary-300{
    background-color: var(--clr-primary-300);
}
.bg-primary-400{
    background-color:var(--clr-primary-400);
}
.bg-primary-600{
    background-color:var(--clr-primary-600);
}
.bg-primary-800{
    background-color:var(--clr-primary-800);
}
.bg-neutral-100{
    background-color: var(--clr-neutral-100);
}
.bg-neutral-900{
    background-color:var(--clr-neutral-900);
}
.bg-accent-100{
    background-color:var(--clr-accent-100);
}
.bg-accent-500{
    background-color:var(--clr-accent-500);
}

.fw-bold{
    font-weight: var(--fw-bold);
}
.fw-semi-bold{
    font-weight: var(--fw-semi-bold);
}
.fw-xregular{
    font-weight: var(--fw-xregular);
}
.fw-regular{
    font-weight: var(--fw-regular);
}

.fs-primary-heading{
    font-size: var(--fs-800);
}
.fs-secondary-heading{
    font-size: var(--fs-700);
}
.fs-bigger{
    font-size: var(--fs-600);
}
.fs-slightly-bigger{
    font-size: var(--fs-500);
}
.fs-regular{
    font-size: var(--fs-400);
}
.fs-small{
    font-size: var(--fs-300);
}

.button{
    border-radius: 0.35rem;
    padding: 0.4em 0.8em;
}
.heading{
    text-align: center;
    margin: 1.5em 1em;
    font-weight: var(--fw-bold);

}
.subheading{
    font-size: var(--fs-600);
    font-weight: var(--fw-semi-bold);  
}
section:not(.hero-section){
    padding: .2em 0;
}
.form-control, .form-select, .form-label{
    margin-bottom: .8em;
}
/* FIN UTILITY CLASSES */
body{
    font-family: var(--ff-primary);
    background-color: var(--clr-neutral-100);
    color: var(--clr-primary-600);
}
/* INICIO HEADER */
.nav-link{
    background-image: linear-gradient(90deg, var(--clr-primary-400),var(--clr-primary-600));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: 400ms;
}
.nav-link:hover{
    color: var(--clr-primary-600);
    background-size: 100% 3px;
}
.dropdown-item{
    background-image: linear-gradient(90deg, var(--clr-primary-400),var(--clr-primary-600));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: 500ms;
}
.dropdown-item:hover{
    color: var(--clr-primary-600);
    background-size: 90% 3px;
}
.navbar-brand{
    background-image: linear-gradient(90deg, var(--clr-primary-400),var(--clr-primary-600));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: 500ms;
}
.navbar-brand:hover{
    color: var(--clr-primary-600);
    background-size: 100% 3px;
}
.navbar-toggler:focus{
    box-shadow: none;
}
/* FIN HEADER */
/* HERO SECTION */

.hero-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    isolation: isolate;
    overflow: hidden;
}
.hero-section>*{
    grid-area: 1/1;
}

.hero-img-container{
    filter: brightness(30%) grayscale(20%);
    z-index: -1;
    background-image: url(../assets/img_brunch.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: auto;
}
@media screen and (max-width:719px) {
    .hero-content-container{width: 80%;   
}
}
.hero-content-container>*{
    margin: 1.2rem 0;
}
.hero-section-title{
    text-align: center;
}
.hero-section-subtitle{
    text-align: center;
    width: 80%;
}
/*  FIN HERO SECTION */
/* INICIO PAGE CONTENT */
/* INICIO PRODUCT INFO */
.product-info-card{
    max-width: 60%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 1rem;
}
.product-info-card > .fa-solid{
    font-size: 2rem;
    margin: 1rem;
    border: 3px solid;
    border-radius: 50%;
    padding: .8rem;
}
@media screen and (max-width:719px) {
    .product-info-card{
        flex-direction: column;
        text-align: center;
        max-width: 80%;
    }
    .product-info-card > .fa-solid{
        margin-bottom: 2rem;
    }
}   
/* FIN PRODUCT INFO */
/* INICIO FAQ */
 
.accordion{
    max-width: 80%;
    margin: 2rem auto;
}
/* FIN FAQ */
/* FIN PAGE CONTENT */
/* FOOTER */
footer h2{
    text-align: center;
    padding: 1em 0 1.5em 0;
}
footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer ul li{
    padding: 1em;
    display: flex;
}
@media screen and (max-width:719px) {
    footer h2{
        padding: 1em 0;
    }
    footer ul {
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}   
footer .fa-brands{
    margin-right: .5em;
}
.talon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}
/* END FOOTER */

/* MENU */
.menu-section{
    margin: 2em 0;
}
.card-wrapper{
    display: flex;
}
.card{
    margin: 0 .8em 4em .8em;
    width: calc(100%/3); 
}
.card-img-wrapper{
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img-wrapper img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
#bondiola{
    object-position: top;
}
/* FIN MENU */
/* RECLAMOS */
.complaints-form-wrapper{
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: .5rem;
}
.submit{
    width: 100%;
    background-color: var(--clr-primary-600);
    margin-top: 1em;
    color: var(--clr-neutral-100);
}
/* FIN RECLAMOS */
/* RESERVAS */
.reservation-page-wrapper{
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: .5rem;
}
/* FIN RESERVAS */