    $clr-primary-300:#CED6B0;
    $clr-primary-400:#b3c08b;
    $clr-primary-600:#737C51;
    $clr-primary-800:#656E49;

    $primary:#8c7fb9;

    $clr-accent-100:#8c7fb9;
    $clr-accent-500:#9378E2;

    $clr-neutral-100:#F9F8E3;
    $clr-neutral-400:#CED1B1;
    $clr-neutral-900:#201F20;

    $ff-primary:"Be Vietnam Pro", sans-serif;

    $ff-body: $ff-primary;
    $ff-heading: $ff-primary;

    $fw-regular:400;
    $fw-xregular:500;
    $fw-semi-bold:600;
    $fw-bold:700;

    $fs-300:.8rem;
    $fs-400:1rem;
    $fs-500:1.25rem;
    $fs-600:1.75rem;
    $fs-700:2.15rem;
    $fs-750:2.25rem;
    $fs-800:2.5rem;

@media screen and (max-width:377px) {
    $fs-800:2.25rem;
    $fs-750:2rem;
    $fs-700:1.5rem;
    $fs-600:1.25rem;
    $fs-500:1.15rem;
    $fs-400:0.825rem;
}
// BOOTSTRAP VARS
