.menu-section{
    margin: 5em 0;
}
.card-wrapper{
    display: flex;
}
.card{
    margin: 0 .8em 4em .8em;
    width: calc(100%/3); 
}
.card-img-wrapper{
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img-wrapper img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
#bondiola{
    object-position: top;
}