.product-info-card{
    max-width: 60%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 1rem;
    .fa-solid{
        font-size: 2rem;
        margin: 1rem;
        border: 3px solid;
        border-radius: 50%;
        padding: .8rem;
        transition: 500ms;
    }
}
.fa-cookie-bite:hover, .fa-heart:hover, .fa-mug-hot:hover{
    color: $clr-accent-500;
    transform: rotate(10deg);
    font-size: 2.2rem;
}
@media screen and (max-width:719px) {
    .product-info-card{
        flex-direction: column;
        text-align: center;
        max-width: 80%;
        .fa-solid{
            margin-bottom: 2rem;
        }
    }
}   